

.topnav a {
  color: white;
  padding: 13px 15px;
  text-decoration: none;
  font-size: 16px;
  display: block;
}

.topnav a.icon {
  background: black;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

.topnav a:hover {
  background-color: #dde;
  color: black;
}

.active {
  background-color: #ee1f52;
  color: white;
}

   .logo {
       margin-left: 80px;
        text-align: left;
         display: block;
       padding: inherit;
      box-sizing: 25%;
    }


/* Style the navigation menu / Dropdown */
.topnav {
  overflow: hidden;
  background-color: #334;
    align-items: center;
    justify-content: center;
}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
  display: none;
}

/* Style navigation menu links */
.topnav a {

    color: white;
  padding: 13px 14px;
  text-decoration: none;
  font-size: 15px;
  display: block;
}

/* Style the hamburger menu */
.topnav a.icon {
  background: black;
  display: block;
     align-items: center;
    justify-content: center;
  right: 0;
  top: 0;
}

/* Add a grey background color on mouse-over */
.topnav a:hover {
  background-color: #ee1f52;
  color: black;
}

/* Style the active link (or home/logo) */
.active {
  background-color: #ee1f52;
  color: white;
}

body {
    

    background: linear-gradient(to right, #ffffff, #ece9e6);
 align-items: center;
    justify-content: center;

    font-family: sans-serif;
    margin: 0;
    min-height: 99vh;
}

img {
    max-width: 100%;
}

.mobile-container {
    background-color: #fff;
    box-shadow: 0 0 10px 1px #3333331a;
    border-radius: 2px;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    width: 400px;
}

header {

    align-items: center;
    justify-content: center;
    padding: 1rem;
}

header input {
    background-color: #eee;
    border: none;
    border-radius: 3px;
    font-family: inherit;
    padding: 0.5rem 1rem;
}

/* Magnifying Glass logo */

header button {
    background-color: transparent;
    border: none;
    color: #ee1f52;
    font-size: 1.5rem;
    margin-left: 10px;
}

/* Background colour for Favourite Meals */

.fav-container {
    background-color: lightgray;
    padding: 0.30rem 1rem;
    text-align: center;
}

.fav-meals {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style-type: none;
    padding: 0;
}

.fav-meals li {
    cursor:pointer;
    position: relative;
    margin: 5px;
    width: 75px;
}

.fav-meals li .clear {
    background-color: transparent;
    border: none;
    cursor: pointer;
    opacity: 0;
    position: absolute;
    top: -0.5rem;
    right: -0.5rem;
    font-size: 1.2rem;
}

/* When user hovers over a saved meal they have the ability to remove it from favourites by click the (x)*/
.fav-meals li:hover .clear {
    opacity: 3;
}

.fav-meals li img {
    border: 2px solid #ffffff;
    border-radius: 50%;
    box-shadow: 0 0 10px 2px #3333331a;
    object-fit: cover;
    height: 70px;
    width: 70px;
}

.fav-meals li span {
    display: inline-block;
    font-size: 0.9rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 75px;
}

/* Zoom in cursor added here to show the user there was more to view once image was clicked */

.meal {
    border-radius: 3px;
    box-shadow: 0 0 10px 2px #3333331a;
    cursor:zoom-in;
    margin: 1.5rem;
    overflow: hidden;
}

.meal-header {
    position: relative;
}

.meal-header .random {
    position: absolute;
    top: 1rem;
    background-color: #fff;
    padding: 0.25rem 1rem;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.meal-header img {
    object-fit: cover;
    height: 260px;
    width: 100%;
}

.meal-body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}

.meal-body h4 {
    margin: 200;
}

.meal-body .fav-btn {
    border: none;
    background-color: transparent;
    color: lightgray;
    cursor: pointer;
    font-size: 1.2rem;
}

/* Loved (Love Heart) meal will appear with primary colour (#ee1f52)*/

.meal-body .fav-btn.active {
    color: #ee1f52;
}

.popup-container {
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

/* COntainer which holds info on recipe is hidden until magnifying glass is clicked by user.*/

.popup-container.hidden {
    opacity: 0;
    pointer-events: none;
}

/* Background colour on the recipe once user clicks magnifying glass.*/
.popup {
    background-color: #fff; ;
    border-radius: 5px;
    padding: 0 2rem;
    position: relative;
    overflow: auto;
    max-height: 100vh;
    max-width: 600px;
    width: 100%;
}

.popup .close-popup {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 1.6rem;
    position: absolute;
    top: 1rem;
    right: 1rem;
}

.meal-info h1 {
    text-align: center;
    text-justify: auto;
}
